body {
	font: .9em 'Domine', 'Georgia', serif;
	margin: 0;
	text-align: center;
	background-color: hsl(0, 40%, 20%);
	color: white;
	display: flex;
	flex-direction: column;
}
   html {
       -webkit-text-size-adjust: none;
}
html, body {
	height: 100%;
	min-height: 100vh;
}
ul, li {
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 3.2em;
	color: white;
	background-image: linear-gradient(black, hsl(0, 30%, 30%) 50%);
	margin: 0;
	padding: .5em 0 0;
	line-height: .1;
}
 main > a {
     text-decoration: none;
        }
.content {
	flex: 1 0 auto;
    overflow: hidden;
}
.tree {
	overflow: visible;
    font-size: 0;
	padding-bottom: 2em;
    margin-top: 8em;
    width: 1280px;
}
.tree ul {
    font-size: .52rem;
}

.tree li {
	list-style: none;
	width: 5.2em;
}
.tree>ul li.spacer {
	list-style: none;
	width: 8em;
}
.tree span {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: 1.5em;
	width: 2em;
	height: 4em;
	border: solid 1px white;
}
.tree ul>ul span {
	top: .75em;
}
.tree span {
	border-width: 2px 1px 0 0;
}
.tree span+span {
	border-width: 2px 0 0 1px;
}
ul>ul {
	margin: 2em 0 0;
}
.tree li a {
	display: block;
}
.tree li {
	display: inline-block;
}
.tree ul:nth-of-type(2) {
	border: solid 2px;
	border-width: 2px 0 0;
	margin: .6em 0 0;
}
.tree ul:nth-of-type(2) li:first-child {
	margin: 0 0 0 -1.1em;
}
.tree ul:nth-of-type(2) li:nth-child(even) {
	margin: 0 2em 0 0;
}
.tree ul:nth-of-type(2) li:nth-of-type(12) {
	margin: 0 4em 0 0;
}
.tree ul:nth-of-type(2) li:nth-of-type(11) {
	margin: 0 0 0 4.8em;
}
.tree ul ul:last-child li:before, .offspring::before {
	content: '__';
	width: 2.5em;
	height: 4em;
	background-color: hsl(0, 40%, 20%);
	color: hsl(0, 40%, 20%);
	display: block;
	border: solid 2px white;
	border-width: 0 2px 0 0;
	margin: 0 0 .5em;
}
.tree ul ul li {
	position: relative;
}
.tree li.break:after {
	position: absolute;
	top: 0;
	left: 5em;
	content: '';
	width: 4em;
	height: 1em;
	background-color: hsl(0, 40%, 20%);
	color: hsl(0, 40%, 20%);
	margin-top: -0.5em;
}
, .tree ul ul:last-child {
	margin: .75em 0 0;
}
.tree ul ul:last-child {
	border: solid 2px;
	border-width: 2px 0 0;
	margin: .7em 0 0;
}
.tree ul ul:last-child li:first-child {
	margin: 0 0 0 -.3em;
}
.tree ul ul:last-child li:nth-child(4) {
	margin: 0 0 0 3.5em;
}
.tree ul ul:last-child li:nth-child(6) {
	margin: 0 0 0 6.5em;
}
.tree ul ul:last-child li:nth-child(8) {
	margin: 0 9em 0 8.7em;
}
.tree ul ul:last-child li:nth-child(9) {
	margin: 0 0 0 0em;
}
.tree ul ul:last-child li:nth-child(11) {
	margin: 0 0 0 3em;
}
.tree ul ul:last-child li:nth-child(16) {
	margin: 0 3.9em 0 3em;
}
.tree li.break:nth-child(5):after {
	width: 6.8em;
}
.tree li.break:nth-child(7):after {
	width: 8.8em;
}
.tree li.break:nth-child(8):after {
	width: 9.2em;
}
.tree li.break:nth-child(10):after {
	width: 3em;
}
.tree li.break:nth-child(15):after {
	width: 3.5em;
}
.tree li.break:last-child:after {
	width: 3.5em;
}
li a i {
	position: absolute;
	bottom: -12px;
	left: -9999px;
	font: 8px normal Helvetica, sans-serif;
	background-color: black;
}
ul:nth-of-type(2) li:nth-of-type(odd), ul:nth-of-type(2) li:nth-of-type(8), ul:nth-of-type(2) li:nth-of-type(10) {
	color: rgb(199, 177, 155);
}
ul li.show a i {
	left: 4px !important;
}
ul ul:nth-of-type(1) li a:hover i {
	bottom: -30px;
	left: 4px;
	z-index: 1;
}
/*
ul:nth-of-type(2) li:nth-of-type(2n+12) a:hover i, ul:nth-of-type(3) li:nth-child(-n+5) a:hover i, ul:nth-of-type(3) li:nth-child(8) a:hover i, ul:nth-of-type(3) li:nth-child(11) a:hover i, ul:nth-of-type(3) li:nth-child(15) a:hover i, ul:nth-of-type(3) li:nth-child(n+17) a:hover i {
	left: 4px;
	bottom: -2px;
}
*/

ul:nth-of-type(2) li.show:nth-of-type(2n+12) a i, ul:nth-of-type(3) li.show:nth-child(-n+5) a i, ul:nth-of-type(3) li.show:nth-child(8) a i, ul:nth-of-type(3) li.show:nth-child(11) a i, ul:nth-of-type(3) li.show:nth-child(15) a i, ul:nth-of-type(3) li.show:nth-child(n+17) a i {
	left: 4px;
	bottom: -2px;
}
li figure {
	position: absolute;
	bottom: 4em;
	left: -4.5em;
	width: 5em;
	font-size: 8px;
	box-sizing: border-box;
	background-color: black;
	opacity: 0;
	z-index: 4;
}
#ifb figure {
	bottom: -3em;
	left: -11em;
}
#ghs figure {
	bottom: -3em;
	left: 2em;
}
li.show figure {
	opacity: 1;
	transition: opacity 2s;
}
li figure img {
	width: 100%;
	height: auto;
}
li.hi a {
	color: rgb(255, 222, 100);
}
figure>* {
	position: relative;
	display: block;
}
footer h2 {
	width: 2em;
	height: 2.5em;
}
footer h2 {
	position: relative;
	margin: auto;
	bottom: -1em;
}
footer h2 img {
	width: 100%;
	display: block;
}
h1:after {
	content: 'Family Tree';
	position: relative;
	background-color: hsl(0, 30%, 30%);
	display: block;
	border-radius: 50%;
	width: 120%;
	height: 1em;
	left: 62%;
	transform: translate(-60%, 30%);
	box-shadow: 4px 4px 4px black;
	text-shadow: 4px 4px 4px black;
}
footer a:before {
	content: '';
	position: relative;
	background-color: hsl(0, 40%, 20%);
	display: block;
	border-radius: 50%;
	width: 120%;
	height: 1em;
	left: 62%;
	transform: translate(-60%, -30%);
	box-shadow: -4px -4px 4px black;
}
footer {
	margin: 1.5em 0 0;
	flex: 1 0 auto;
	overflow: hidden;
    background-color: hsl(0, 40%, 20%);
}
@media (pointer: coarse) {

    .content {
	flex: 1 0 auto;
    overflow: visible;
}
    
    h1:after {
	border-radius: 0;
	width: 100%;
	height: 0;
	left: 0%;
	transform: translate(0, 0);
	box-shadow: none;
}
    h1 {
	background: none;
    width: 1280px;

}
    
    footer {
        width: 1280px;
    }
    footer a:before {
	border-radius: 0;
	width: 100%;
	height: 0;
	left: 0;
	transform: translate(0, 0);
	box-shadow: none
}
    footer h2 {
	bottom: 1em;
}

}